.Rproj.user
.Rhistory
.RData
.RDataTmp1
.RDataTmp2
.Ruserdata
python/lib/spacy
__pycache__
.ipynb_checkpoints
.DS_Store
__pycache__
private/
settings.py
settings.R
data/*
venv
.idea/
*.png
*.csv
*.rds
*.pyc